<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/estilos.css"> 
    <title>Categorias de productos musicales</title>
  </head>
  <body>
    <h1> Tienda Sansóund</h1>
    <h2>Dar alta a categorias de <br> productos musicales</h2>
    <form id="form-catgs">
      <label for="nombre-de-categoria">Nombre de la categoria:</label>
      <input type="text" id="nombre" name="nombre-de-categoria" >

      <label for="id-de-cat">id de Categoría:</label>
      <input type="text" id="id" name="id-de-cat"  />

      <label for="descripcion-de-cat">Descripcion:</label>
      <textarea name="descripcion-de-cat" id="descripcion" rows="5"></textarea>

      <button type="submit">Guardar</button>
      <button type="button" class="cancel">Cancelar</button>
    </form>
    <div class="tag">Jonathan Sansó 🖥️</div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="../../assets/js/validaciones.js"></script>
    
  </body>
</html>
