<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/estilos.css"> 
    <title>Categorias</title>
  </head>
  <body>
    <h1>Alta de categorias de productos</h1>
    <form>
      <label for="nombre">Nombre de la categoria</label>
      <input type="text" id="nombre" name="nombre" placeholder=Nombre de
      usuario" required >

      <label for="id">id:</label>
      <input type="text" id="id" name="id" required />

      <label for="descripcion">Descripcion</label>
      <textarea name="descripcion" id="descripcion" rows="5"></textarea>

      <button type="submit">Guardar</button>
      <button type="button" class="cancel">CANCELAR</button>
    </form>
    <div class="tag"> &copy; Jonathan Sansó</div>
    
  </body>
</html>
