<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>lista de productos</title>
</head>
<body>
    <h1>Lista de productos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Categoria ID</th>

            </tr>

        </thead>
        <tbody>
            <?php foreach ($lista_pro as $listaProductos){ ?>
                <tr>
                    <td><?php echo $listaProductos['id']?></td>
                    <td><?php echo $listaProductos['nombre_producto']?></td>
                    <td><?php echo $listaProductos['descripcion']?></td>
                    <td><?php echo $listaProductos['precio']?></td>
                    <td><?php echo $listaProductos['categoria_id']?></td>
                </tr>
            <?php } ?>

            </table>
        </div>
       
        <a href="productos.php?add">Agregar</a>
        <div><h3>Jonathan Sansó</h3></div>

    </tbody>
    </table>    
</body>
</html>