<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Lista de categorias </title>
</head>
<body>
         <div> Lista de categorias
            <table>
                
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($lista_ctg as $listaCategorias) { ?>                   
                        <tr>
                            <td><?php echo $listaCategorias['id'] ?></td>
                            <td><?php echo $listaCategorias['nombre_categoria'] ?></td>
                        </tr>
                        <?php } ?>
                </tbody>
            </table>
        </div>
        <a href="categorias.php?add">Agregar</a>
        <div><h3>Jonathan Sansó</h3></div>

</body>
</html>